.add-todo-form__button.submit {
    background-color: #21BA45;
    color: #FFF;
    text-shadow: none;
    background-image: none;
}

.add-todo-form__button.submit:hover {
    background-color: #16ab39;
    color: #FFF;
    text-shadow: none;
}

