.app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.app-main {
    max-width: 800px;
    min-height: 100%;
    width: 100%;
    margin: 50px auto;
    flex: 1;
    padding-left: 24px;
    padding-right: 24px;
}

@media only screen and (min-width: 600px)  {
    .app-main {
        width: 600px;
    }
}